<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/background.css">
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

  <!-- container -->
  <div class="container">
    <%- include('./partials/nav.ejs') %>
      <div class="content">
        <div class="_404">
          <h1>404</h1>
          <p>The link you followed may be broken, or the page may have been removed.</p>
        </div>
      </div>
      <%- include('./partials/footer.ejs') %>
  </div>






</body>

</html>