* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  width: 80%;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  background-image: url("/img/back-ground2.jpg");
  background-size: cover;
  /* background-position: center; */
  z-index: 1000;
}

/* nav */
.container nav {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;

}

.container nav h1 {
  text-transform: uppercase;
  font-size: 24px;
  font-family: sans-serif;
  margin: 0 0 0 10px;
  font-weight: 800;
  color: #dfdfdf;
}

/* content */
.container .content {
  width: 100%;
  max-width: 100%;
  height: auto;
  /* max-height: calc(100vh - 00px); */
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* form */
.container .content .acc-form {
  margin: 10px;
  height: auto;
  min-height: 500px;
  max-height: 550px;
  width: 500px;
  background-color: #9c83df28;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 2.5fr 3.5fr 1fr 2fr;
  gap: 15px;
  backdrop-filter: blur(3px);
  -webkit-box-shadow: inset 0px 0px 113px -18px rgba(142, 205, 221, 0.47);
  -moz-box-shadow: inset 0px 0px 113px -18px rgba(142, 205, 221, 0.47);
  box-shadow: inset 0px 0px 113px -18px rgba(142, 205, 221, 0.47);
}

@media screen and (max-width:500px) {
  .container .content .acc-form {
    width: 90%;
  }
}

.container .content .acc-form .title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #dfdfdf;
  text-transform: uppercase;
  font-weight: 850;
}

.container .content .acc-form .login-user {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container .content .acc-form .login-user label {
  font-size: 14px;
  color: #dfdfdf;
  text-transform: capitalize;
}

.container .content .acc-form .login-user .input {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-bottom: #22668D 1px solid;
  margin: 20px 0;
  outline: none;
  color: #dfdfdf;
}

.container .content .acc-form .login-user .input::placeholder {
  color: #aacacf;
  text-transform: capitalize;
}

.container .content .acc-form .login-user .submit {
  padding: 10px 20px;
  border: #22668D 1px solid;
  background-color: #22668D;
  border-radius: 10px;
  color: #dfdfdf;
  cursor: pointer;
  text-transform: capitalize;
}

.container .content .acc-form .login-user .singUpLink {
  margin-top: 20px;
  text-transform: capitalize;

}

.container .content .acc-form .login-user .singUpLink a {
  color: #dfdfdf;
}

.contentA {
  color: #f34949;
  font-weight: 700;
}

.container .content .acc-form .hr {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #dfdfdf;
}

.container .content .acc-form .hr div {
  height: 1px;
  width: 30%;
  background-image: linear-gradient(to right, #ffffff, #dfdfdf);
}


.container .content .acc-form .login-google {
  display: flex;
  justify-content: center;
  align-items: start;

}

.container .content .acc-form .login-google a {
  min-width: 40%;
  text-decoration: none;
  text-transform: capitalize;
  color: #dfdfdf;
  background-color: rgb(180, 23, 23);
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: .5s;
}

.container .content .acc-form .login-google a p {
  transition: .5s;
}

.container .content .acc-form .login-google a:hover {
  filter: brightness(70%);
}

.container .content .acc-form .login-google a:hover p,
.container .content .acc-form .login-google a:hover i {
  filter: brightness(200%);

}

/* chat room */

.container .content .chat-room {
  width: 80%;
  height: 500px;
  background-color: #9c83df28;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  -webkit-box-shadow: inset 0px 0px 113px -18px rgba(142, 205, 221, 0.47);
  -moz-box-shadow: inset 0px 0px 113px -18px rgba(142, 205, 221, 0.47);
  box-shadow: inset 0px 0px 113px -18px rgba(142, 205, 221, 0.47);
  margin: 0 0 20px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

}

.container .content .chat-room .messages {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  padding: 20px;

}

.container .content .chat-room .messages .sender {
  width: 100%;
  display: flex;
  justify-content: start;
  margin: 20px 0;
}

.container .content .chat-room .messages .receiver {
  width: 100%;
  display: flex;
  justify-content: end;
  margin: 20px 0;

}

.container .content .chat-room .messages .sender .message {
  background-color: #FFCC70;
  -webkit-box-shadow: inset 10px 10px 95px 7px rgba(255, 166, 0, 1);
  -moz-box-shadow: inset 10px 10px 95px 7px rgba(255, 166, 0, 1);
  box-shadow: inset 10px 10px 95px 7px rgba(255, 166, 0, 1);
}

.container .content .chat-room .messages .receiver .message {
  background-color: #22668D;
  -webkit-box-shadow: inset 10px 10px 95px 7px #00a2ff;
  -moz-box-shadow: inset 10px 10px 95px 7px #00a2ff;
  box-shadow: inset 10px 10px 95px 7px #00a2ff;
  border-radius: 30px 0;

}

.container .content .chat-room .messages .message {
  width: auto;
  max-width: 600px;
  padding: 10px 30px 10px 10px;
  border-radius: 0 30px;
}

.container .content .chat-room .messages .message .message-name {
  margin: 0 0 10px 0;
  text-transform: capitalize;
  font-weight: bold;
}

.container .content .chat-room .messages .message .message-content {
  margin: 10px 0;
}

.container .content .chat-room .messages .message .message-time {
  width: 100%;
  text-align: end;
}

.container .content .chat-room .send-message {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.container .content .chat-room .send-message input {
  width: calc(100% - 100px);
  padding: 0 0 0 10px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #dfdfdf;
  font-size: 14px;
}

.container .content .chat-room .send-message input::placeholder {
  color: #dfdfdf;
}

.container .content .chat-room .send-message button {
  width: 100px;
  background-color: transparent;
  border: none;
  font-size: 25px;
  outline: none;
  color: #dfdfdf;
}


@media screen and (max-width:500px) {
  .container nav {
    justify-content: center;
  }

  .container nav h1 {
    margin: 0;
  }

  .container .content .chat-room .send-message input {
    width: calc(100% - 60px);

  }

  .container .content .chat-room .send-message button {
    width: 60px;
  }

}

/* home page */
.home-content {
  height: calc(100vh - 100px);
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: center;
}

.home-content .profile {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 20px;
  padding: 0 20px;
  overflow-x: hidden;
  margin: 0 auto;
  border-radius: 20px;
}

.home-content .profile .img img {
  width: 100%;
  border-radius: 50%;
}

.home-content .profile .profile-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #dfdfdf;
}

.home-content .profile .profile-content h1 {
  font-size: 48px;
  text-transform: capitalize;
}

.home-content .profile .profile-content a {
  color: #dfdfdf;
  text-decoration: none;
  background-color: #22668D;
  padding: 10px 20px;
  border-radius: 10px;
}

@media screen and (max-width:750px) {
  .home-content .profile {
    grid-template-columns: 1fr 1.5fr;
  }

  .home-content .profile .profile-content {
    transform: scale(.9);
  }
}

@media screen and (max-width:500px) {
  .home-content .profile {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .home-content .profile .profile-content {
    transform: scale(1);
  }
}

/* menu */
.menu {
  min-height: calc(100vh - 100px);
}

.menu-bar {
  width: 100%;
  height: 50px;
  backdrop-filter: blur(2px) brightness(50%);
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.menu-bar .leftSide {
  width: auto;
  display: flex;
  justify-content: space-around;
}

.menu-bar .leftSide button {
  background-color: transparent;
  color: #dfdfdf;
  border: none;
  /* border-bottom: 3px #22668D solid; */
  font-size: 30px;
  cursor: pointer;
  text-transform: capitalize;
  margin: 0 20px;
  transition: .33s;
}

.menu-bar .leftSide button:hover {
  border-bottom: 3px #22668D solid;
}

.menu-bar .rightSide {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bar .rightSide button {
  padding: 10px 24px;
  background-color: #00a2ff;
  color: #dfdfdf;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 13px;
  text-transform: capitalize;
  cursor: pointer;
  margin: 0 10px 0 0;
  transition: .33s;
}

.menu-bar .rightSide button:hover {
  background-color: #22668D;
}

@media screen and (max-width: 350px) {

  .menu-bar .leftSide,
  .menu-bar .rightSide {
    width: auto;
  }

  .menu-bar .rightSide button {
    padding: 8px 11px;
  }
}

@keyframes rotate {

  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }

  10% {
    transform: rotate(8deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }

  80% {
    transform: rotate(-8deg);
  }

  90% {
    transform: rotate(8deg);
  }
}


/* rooms */
section {
  width: 100%;
  height: auto;
  transition: .25s;
}

section .title {
  color: #dfdfdf;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.rooms .rooms-container,
.friends .friends-container {
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 15px;
}

.rooms .rooms-container .room,
.friends .friends-container .friend {

  color: #dfdfdf;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 150px;
  height: auto;
  height: auto;
  background-color: #aacacf3f;
  backdrop-filter: blur(3px);
  border-radius: 10px;
}

.rooms .rooms-container .room .room-name,
.friends .friends-container .friend .name {
  font-size: 26px;
  text-transform: capitalize;
}

.rooms .rooms-container .room div {
  /* margin: 10px 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.room-link {
  color: #dfdfdf;
  text-decoration: none;
  /* margin: 0px 0; */
  padding: 10px 20px;
  background-color: #00a2ff;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  text-transform: capitalize;
}

.room-link:hover {
  background-color: #22668D;
}

.rooms .rooms-container .room p {
  font-weight: bold;
  letter-spacing: 1px;

}

.rooms .rooms-container .room span {
  margin-left: 5px;
  color: #00ff00;
}

.friends .friends-container .friend .Name-Avatar-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px 0;
  height: auto;
}

.friends .friends-container .friend .Name-Avatar-container .name,
.friends .friends-container .friend .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.friends .friends-container .friend .avatar span {
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #00ff00;
  position: relative;
  top: 30%;
  right: 15%;
}

.friends .friends-container .friend .avatar img {
  width: 65%;
  border-radius: 50%;
}

.friendLink {
  text-decoration: none;
}

@media screen and (max-width:1000px) {

  .rooms .rooms-container,
  .friends .friends-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width:650px) {

  .rooms .rooms-container,
  .friends .friends-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width:425px) {
  .friends .friends-container .friend .Name-Avatar-container {
    grid-template-columns: 1.2fr 1fr;

  }

  .friends .friends-container .friend .Name-Avatar-container img {
    width: 90%;
  }

}

/* create room */
.createRoom-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px);
  z-index: 1000;
}

.createRoom-container form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #22668d8a;
  backdrop-filter: blur(3px);
  width: 90%;
  min-height: 125px;
  border-radius: 10px;
  z-index: 1000;
  color: #dfdfdf;
  font-family: sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.createRoom-container form h3 {
  text-transform: uppercase;
}

.createRoom-container form .btns {
  max-width: 200px;
  display: flex;
  justify-content: space-between;
}

.createRoom-container form input[type=text] {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  width: 260px;
  outline: none;
}

.createRoom-container form input[type=text]::placeholder {
  text-transform: capitalize;
}

.createRoom-container form button {
  padding: 10px 24px;
  background-color: #00a2ff;
  color: #dfdfdf;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 13px;
  text-transform: capitalize;
  cursor: pointer;
  margin: 0 10px 0 0;
  transition: .33s;
}

.createRoom-container form .cancel {
  background-color: rgb(170, 50, 50);
}

@media screen and (max-width:735px) {
  .createRoom-container form {
    flex-direction: column;
    justify-content: space-around;
    /* gap: 50px; */
  }
}

/* 404 */
._404 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  color: #dfdfdf;
  /* font-size: 30px; */
  backdrop-filter: blur(3px);
  border-radius: 20px;
  z-index: 99;

}

._404 h1 {
  font-size: 200px;

}

/* room */
footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dfdfdf;
  background-color: #0e416625;
  backdrop-filter: blur(5px);
  text-transform: capitalize;
}

/* setting */
.setting {
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dfdfdf;

}

.glass-background {
  width: 90%;
  height: 98%;
  background-color: #9c83df28;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  -webkit-box-shadow: inset 0px 0px 113px -18px rgba(142, 205, 221, 0.47);
  -moz-box-shadow: inset 0px 0px 113px -18px rgba(142, 205, 221, 0.47);
  box-shadow: inset 0px 0px 113px -18px rgba(142, 205, 221, 0.47);
  margin: 0 0 20px 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.settingMenu {
  width: 100%;
  height: 100%;
  text-transform: capitalize;
}

.settingMenu h1 {
  margin: 15px 0 30px 20px;
}

.settingMenu ul {
  margin: 0 0 0 20px;
  list-style: none;
}

.settingMenu ul li {
  font-size: 16px;
  padding: 10px 5px;
  margin: 5px 0;
  cursor: pointer;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  transition: .5s;
}

.settingMenu ul #danger {
  border-color: #f34949;
  color: #f34949;
}

.settingMenu ul li:hover {
  background-color: #dadada;
  color: black;
}

.settingMenu ul #danger:hover {
  background-color: #f34949;
  color: #dfdfdf;
}

.setting-content {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 760px) {
  .glass-background {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .settingMenu {
    margin: 20px;

  }

  .settingMenu h1 {
    margin: 15px 0;
  }

  .settingMenu ul {
    margin: 5px 0;
    display: grid;
    grid-template-rows: repeat(1fr, 3);
    height: calc(100% - 75px);
  }

  .settingMenu ul li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .setting-content {
    display: none;
  }

}

.setting-content .no-setting {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: 20px; */
}

.setting-content .no-setting i {
  font-size: 130px;
  margin: 0 0 50px 0;
}

/* general setting */
.settingPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.settingPage .imgForm {
  width: 100%;
  max-width: 500px;
  height: auto;
  padding: 10px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settingPage .avatarImg img {
  width: 100px;
  height: 100px;
  transition: .5s;
  border-radius: 50%;
}

.settingPage .avatarImg img:hover {
  filter: brightness(50%);
}

.settingPage p {
  font-size: 25px;
  font-weight: 700;
}

.settingForm {
  width: calc(100% - 20px);
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.settingForm input[type="text"],
.settingForm input[type="password"] {
  width: 100%;
  height: 40px;
  margin: 20px 0;
  padding: 10px 5px;
  outline: none;
  border-radius: 5px;
  border: none;
}

.saveBtnDisabled {
  background-color: #dadada !important;
  color: black !important;
}

.saveBtn {
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #22668D;
  color: #dadada;
}

.privacy h2 {
  margin: 20px 0 50px 0;
}